{{ define "header" }}
<!DOCTYPE html>
<html lang="zh-en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="public/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Keywords" content="{{ .Config.HtmlKeywords }}" />
    <meta name="description" content="{{ .Config.HtmlDescription }}" />
    <title>{{ .Title }} - {{ .Config.SiteName }}</title>
    <style>:root{--primary: {{ .Config.ThemeColor }}}</style>
    <link rel="stylesheet" href="/public/css/prism.css">
    <link rel="stylesheet" href="/public/css/app.css">
</head>
<body>
    <nav class="head">
        <div class="containter head-content">
            <div class="logo">{{ .Config.SiteName }}</div>
            <div class="nav">
                <a href="/">Blog</a>
                <a href="/">Categories</a>
                <a href="/">Tags</a>
                <!-- This Place can add extra navbar -->
            </div>
        </div>
    </nav>
    <div class="post-wrap"></div>

{{ end }}