{{ template "header" . }}
<div class="sub-title">- {{ .Title }} -</div>

<ul class="articles">
    {{range .Data.List }}
    <li>
        <h2>
            <a class="title" href="/">{{ .Title }}</a>
        </h2>
        <div class="article-info">
            {{ if ne .Category "" }}
            <span>
                <img class="icon" src="/public/image/folder.svg" alt="">
                <span>
                    分类于
                    <a class="category" href="/">{{ .Category }}</a>
                </span>
            </span>
            <span class="divider-line"></span>
            {{ end }}

            {{ if .Tags }}
            <span>
                <img class="icon" src="/public/image/tags.svg" alt="">
                <span>
                    标签
                    {{ range . }}
                        <a class="category" href="/">{{ .Name }}</a>
                    {{ end }}
                </span>
            </span>
            <span class="divider-line"></span>
            {{ end }}

            <span>
                <img class="icon" src="/public/img/date.svg" alt="">
                <span>发表于{{ .UploadedAt.Format "2006-01-02 15:04" }}</span>
            </span>
        </div>

        <div class="description"> {{ .Description }}...</div>
        <a class="read-all" href="/" rel="contents">
            阅读全文 »
        </a>
        <div class="article-eof"></div>

    </li>
    {{ end }}
</ul>
{{ template "footer" . }}